.blog-title{
    font-weight: bold;
}

body {
    padding: 2rem 0rem;
  }
  
  .card-img-overlay {
    background-color: rgba(#000, 0.4);
  }
  
  .avatar {
    border: 0.1rem solid rgba(#fff, 0.3);
    max-width: 5rem;
  }

  .author{
      /* border: 5px solid red; */
  }

  .center {
    margin: auto;
    width: 100%;
    /* border: 3px solid green; */
    padding: 10px;
  }

  .testimonial-button{
      width: 350px !important;
  }